/* TweetPage.module.css */

.tweetList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tweetItem {
    margin-bottom: 20px;
    border-bottom: white 1px solid;
    padding: 15px; /* Increased padding for better spacing */
    transition: transform 0.2s ease-in-out; /* Smooth transform on hover */
}

.tweetItem:hover {
    transform: translateY(-3px); /* Slight raise effect on hover */
}

.tweetAuthor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
    color: white; /* Brand color for author name */
}

.tweetDateCreated, .tweetDateUpdated {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.tweetDateCreated::before {
    content: '🕒'; /* Icon for creation date */
    margin-right: 5px;
    color: #007bff; /* Brand color */
}

.tweetDateUpdated::before {
    content: '🔄'; /* Icon for update date */
    margin-right: 5px;
    color: #28a745; /* A green color to indicate updates */
}

.tweetContent {
    font-size: 16px; /* Maintains readability */
    color: white; /* Provides good contrast for readability */
    padding: 10px; /* Ample padding for a good visual separation */
    border-radius: 5px; /* Rounded corners for a softer look */
    margin: 10px 0; /* Space between author/date and content */
    line-height: 1.5; /* Enhanced line spacing for easier reading */
    border: white 1px solid;
    box-shadow: #777;
    white-space: pre-wrap;
}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.actionIcon{
    cursor: pointer;
}

.actionIcon:hover{
    color: #9b9b9b;
}

.activeActionIcon{
    color: #ff0008;
    cursor: pointer;
}

.activeActionIcon:hover{
    color: #560104;
}

.noTweets{
    color: white;
    text-align: center;
    margin-top: 20px;
}