.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: white 1px solid;
    top: 0;
    left: 275px;
    right: 275px;
    background-color: rgb(54, 54, 54);
}
.headerItem {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border: white 1px solid;
    border-top: none;
    border-bottom: none;
}

@media (max-width: 768px) {
    .header {
        left: 95px;
        right: 0;
    }
    .headerItem {
        padding: 10px;
    }
}