/* AddTweet.css */
.tweetFormContainer {
    padding: 20px;
    background-color: #e9f5ff;
    border: 1px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 0 24px;
}

.tweetForm {
    display: flex;
    flex-direction: column;
}

.tweetFormContainer h2 {
    color: #007bff;
    font-weight: bold;
    margin: 0 0 16px;
}

.inputTweet {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


