.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 275px;
    height: 100%;
    border-right: white 1px solid;
}

.logo {
    height: 70px;
    align-self: center;
}

.sidebar {
    margin-left: 20px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание элементов по левому краю */
    justify-content: center; /* Центрирование элементов по вертикали */
    height: 50vh; /* Для демонстрации можете задать высоту контейнера */
    font-weight: bold;
}

.authButtons{
    display: flex;
    justify-content: center;
}

.loginAndSignUpButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchIcon {
    width: fit-content;
    display: none;
    align-items: center;
    padding: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.searchIcon:hover {
    background-color: #595e63;
    border-radius: 50px;
}


/* Медиа-запрос для экранов менее 768px */
@media (max-width: 768px) {
    .container {
        width: 95px; /* уменьшаем ширину панели */
    }
    .sidebar {    
        margin-left: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Центрируем элементы по горизонтали */
        justify-content: center; /* Центрируем элементы по вертикали */
    }
    .searchIcon {
        display: flex;
        flex-direction: column; /* Размещаем иконки в столбик */
        width: 50%;
        padding: 20px;
    }
    .searchIcon:hover {
        border-radius: 20px;
    }
    .icon{
        font-size: 20px;
        padding-right: 0;
    }
}