.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 275px;
}

.logo {
    height: 70px;
    align-self: center;
}

.sidebar {
    margin-left: 20px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание элементов по левому краю */
    justify-content: center; /* Центрирование элементов по вертикали */
    height: 50vh; /* Для демонстрации можете задать высоту контейнера */
    font-weight: bold;
}

.authButtons{
    display: flex;
    justify-content: center;
}

.loginAndSignUpButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}