.layout {
    display: grid;
    grid-template-columns: 275px 1fr 275px;
    background-color:  #333639;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItem {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
}